<!-- Bootstrap Nav Tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="selectedTab === 'summary'"
      (click)="selectedTab = 'summary'"
      style="cursor: pointer"
    >
      Summary View
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="selectedTab === 'detailed'"
      (click)="selectedTab = 'detailed'"
      style="cursor: pointer"
    >
      Detailed View
    </a>
  </li>
</ul>

<!-- Tab Content -->
<div class="mt-3 p-3 border border-top-0 rounded-bottom bg-light">
  @if(selectedTab=='summary'){
  <app-summary-view />
  } @if(selectedTab=='detailed'){
  <app-detailed-view />
  }
</div>
